<html>

<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chat_message.css">
</head>

<body style="margin:0">

    {{> header}}

    <div id="middle">
        <div id="head">
            <p id="header">CHAT - {{chat.name}}</p>
        </div>
        <div id="navigate">
            <a href="events_page_detailed.html?eventId={{id}}"><button type="button" id="event">🡨 {{chat.name}}</button></a>

        </div>
        <!-- Chat Section -->
        <div id="chat-container">
            <div id="chat-window">
                <!-- Messages will be displayed here -->
                {{#each chat.messages}}
                <div class="message {{this.type}}">
                    <p class="name">{{this.name}}</p>
                    <p class="message-content">{{this.message}}</p>
                    <span class="timestamp">{{this.time}}</span>
                </div>
                {{/each}}

                <!-- Add more messages here -->
            </div>
            <form id="chat-form">
                <!-- <form method="post" action="/postMessage"> -->
                <div id="chat-input">
                    <input type="text" id="message_input" name="message_input" placeholder="Type a message...">
                    <input type="hidden" id="chatID" name="chatID" value="{{chat._id}}">
                    <button type="submit" id="send-button" value="Confirm">Send</button>
                </div>
            </form>
        </div>
    </div>
    {{> navbar}}
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('chat-form').addEventListener('submit', async function (event) {
            event.preventDefault(); // Prevent the default form submission

            const messageInput = document.getElementById('message_input').value;
            const chatID = document.getElementById('chatID').value;

            const response = await fetch('/postMessage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    message_input: messageInput,
                    id: chatID
                }),
            });

            if (response.ok) {
                // Message was added successfully, reload the page
                window.location.reload();
            } else {
                // Handle error
                console.error('Failed to add message');
            }
        });
    });
</script>

</html>