<html>

<head>
    <title>Chat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/chat.css">
</head>

<body style="margin:0">

    {{> header}}

    <div id="middle">
        <div id="head">
            <p id="header">CHAT</p>
        </div>
        <div id="navigate">
            <a href="events_page_detailed.html"><button type="button" id="event">🡨 Sample Event</button></a>
            <input type="search" id="search" placeholder="Search...">
        </div>
        <div id="entries">
            {{#each chat}}
            <div class="entry" id="{{this._id}}">
                <a href="editchat.html"> <button type="button" id="editbutton">
                        <img src="css/edit_icon.png" id="editicon">
                    </button></a>
                <button type="button" id="trashbutton">
                    <img src="css/trash_icon.png" id="trashicon">
                </button>
                <a href="/messages?id={{this._id}}">
                    <p id="name">{{this.name}}</p>
                </a>
                <p id="message">{{this.lastUser}}: {{this.last}}</p>
            </div>
            {{/each}}
            <!--extra entries to fill the space-->
            <!--entries are scrollable-->
            <!--end of extra entries-->
        </div>
        <div id="containeradd">

            <a href="/addChat"><button type="button" id="addbutton"><img src="css/plus_icon.png" class="btnicon">
                    Create New Chat</button></a>
        </div>
    </div>
    {{> navbar}}
</body>

</html>