<!DOCTYPE html>
<html>

<head>
    <title>Add Guest To Table</title>
    <link rel="stylesheet" href="css/addGuestToTable.css">
</head>

<body style="margin:0">

    {{> header}}

    <div id="middle">
        <div id="head">
            <p id="header">ADD GUEST TO TABLE</p>
        </div>
        <div id="navigate">
            <a href="/{{flag}}Table?event={{event}}"><button type="button" id="back">🡨 Back</button></a>
        </div>
        <div id="content-container">
            <form method="post" action="/addGuestTableSubmit">
                <div class="form-group">
                    <label for="tablename" id="tablenamelabel">Add Guest:</label>
                    <select id="guestlistdropdown" name="guestlistdropdown">
                        {{#each guests}}
                        <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <input type="hidden" id="tableID" name="tableID" value="{{table._id}}">
                <input type="hidden" id="flag" name="flag" value="{{flag}}">
                <input type="hidden" id="event" name="event" value="{{event}}">
                <input type="submit" id="editTableconfirmbutton" value="Confirm">
            </form>
        </div>
    </div>
    {{> navbar}}
</body>
<script>
    window.addEventListener('popstate', function (event) {
        // Your code here
        console.log('The back button was pressed or history changed.');

        // You can access the state object associated with the new history entry
        console.log(event.state);
    });
</script>

</html>