<html>

<head>
    <title>To-Do</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/todo.css">
</head>

<body style="margin:0">

    {{> header}}


    <div id="head">
        <p id="header">TO-DO</p>
    </div>
    <div id="navigate">
        <button type="button" id="event">🡨 Sample Event</button>
    </div>
    <div id="middle">
        {{#each todosArray as |todoGroup|}}
        <p class="left-align" style="font-family: 'Quicksand', sans-serif; font-weight: bold;">{{todoGroup.date}}</p>
        {{#each todoGroup.todos as |todo|}}
        <div class="tasks">
            <input type="checkbox" id="{{todo._id}}" class="todos" {{todo.status}}>
            <label for="{{todo._id}}">{{todo.name}}</label>
            <img src="css/trash_icon.png" alt="Trash Icon" class="deleteTask" id="{{todo._id}}">
        </div>
        {{/each}}
        {{/each}}
    </div>





    <div id="containeradd">
        <a href="/addtodo?id={{event}}"><button type="button" id="add-task-button" class="add-task-button">Add
                Task</button></a>
    </div>

    {{> navbar}}

    <script src="todo_script.js"></script>
</body>

</html>